<section class="personal-info">
	<div class="container">
		<div class="personal-info__inner">
			<div class="personal-info__box">
				<p class="personal-info__title">Сумма задолженности:</p>
				<p class="personal-info__price">1635,48 руб</p>
				<button class="btn">Оплатить</button>
			</div>

			<div class="personal-info__box personal-info__box--middle">
				<div class="personal-info__container">
					<p class="personal-info__title subtitle">Дом по адресу</p>
					<p class="personal-info__address">Вавилова ул, 67</p>
					<span class="personal-info__city">Москва</span>
				</div>
			</div>

			<div class="personal-info__box personal-info__box--last">
				<h2 class="personal-info__price personal-info__price--pay">Оплата квитанций онлайн</h2>
				<div class="personal-info__box-btn">
					<button class="btn personal-info__btn" type="button">Перейти к оплате</button>
				</div>
			</div>
		</div>
	</div>
</section>
