<section class="personal-acc">
	<div class="container">
		<div class="personal-acc__inner">
			<h2 class="personal-acc__title">Личный кабинет</h2>
			<div class="personal-acc__box">
				<h3 class="personal-acc__name">Тестов Тест Тустович</h3>
				<button class="personal-acc__btn"></button>
			</div>
			<ul class="personal-acc__container">
				<li class="personal-acc__item">
					<p class="personal-acc__subtitle subtitle">Номер лицевого счёта</p>
					<span class="personal-acc__info personal-acc__info--number">0500001</span>

				</li>
				<li class="personal-acc__item personal-acc__item--second">
					<p class="personal-acc__subtitle subtitle">Номер телефона</p>
					<span class="personal-acc__info">79167901462</span>
				</li>
				<li class="personal-acc__item">
					<p class="personal-acc__subtitle subtitle">Email</p>
					<span class="personal-acc__info">mailgraf@mail.ru</span>
				</li>
			</ul>
		</div>
	</div>
</section>
