<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__box">
				<form class="footer__form" action="#">
					<label class="footer__label" for="search">
						<input class="footer__input" type="text" id="search" placeholder="Поиск">
					</label>
				</form>
				<a class="footer__home" href="#">
					<div class="footer__logo">{% include "/assets/svg/logo.svg" %}</div>
					<span class="footer__logo-text">УК Управление паркингами</span>
				</a>
			</div>
			<ul class="footer__list">
				<li class="footer__item">
					<a class="footer__link" href="#">Новости</a>
				</li>
				<li class="footer__item">
					<a class="footer__link" href="#">Объекты</a>
				</li>
				<li class="footer__item">
					<a class="footer__link" href="#">О компании</a>
				</li>
				<li class="footer__item">
					<a class="footer__link" href="#">Услуги</a>
				</li>
				<li class="footer__item">
					<a class="footer__link" href="#">Контакты</a>
				</li>
			</ul>
			<div class="footer__box">
				<span class="footer__subtitle">Диспетчерская</span>
				<a class="footer__phone" href="tel:+74957772543">
					+7 (495) 777-25-43
				</a>
				<span class="footer__subtitle">Есть жалобы или предложения?</span>
				<a class="footer__btn btn" href="#">Оставить обращение</a>
			</div>
		</div>
	</div>
</footer>
