{% extends "layouts/layout.twig" %}

{% block page %}
	<main class="main">
		{% include "blocks/personal-acc/personal-acc.twig" %}
		{% include "blocks/personal-info/personal-info.twig" %}
	</main>
{% endblock %}
