.personal-info {
  &__inner {
    display: flex;
  }

  &__box {
    border: 1px solid $gray-200;
    border-radius: 8px;
    padding: 24px;
    min-width: 255px;
    min-height: 315px;
    &:not(:last-child) {
      margin-right: 32px;
    }

    &--middle {
      flex-grow: 1;
    }

    &--last {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 16px;
      padding-bottom: 22px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__price {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 24px;
    color: $accent-color;

    &--pay {
      width: 310px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 114px;
        right: 6px;
        top: 63px;
        background-image: url(svg/money.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__container {
    padding-left: 162px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 138px;
      height: 138px;
      left: 0;
      background-image: url(svg/logo-square.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 138px;
    }
  }

  &__address {
    font-size: 20px;
    line-height: 1.4;
    color: $accent-color;
  }

  &__box-btn {
    padding-right: 6px;
  }

  &__btn {
    font-size: 16px;
    font-weight: 500;
    padding: 20px 24px;
  }
}