.header
{
	padding: 8px 0;
	font-size: 15px;
	line-height: 1.33;
	color: $accent-color;
	box-shadow: inset 0px -1px 0px #e6e6e6;

	&__inner
	{
		display: flex;
		align-items: center;
	}

	&__logo
	{
		height: 48px;
		width: 48px;
		object-fit: cover;
		margin-right: 25px;
	}
		
	&__logo-img {
		padding: 5px;
	}

	&__list
	{
		display: flex;
		margin-right: auto;
	}

	&__item
	{
		&:not(:last-child)	{margin-right: 24px;}
	}

	&__back
	{
		font-size: 12px;
		line-height: 1.7;
		color: $gray-100;
		margin-right: 24px;
	}

	&__phone
	{
		font-size: 14px;
		line-height: 1.4;
		margin-right: 24px;
	}
}