<header class="header">
	<div class="container">
		<h1 class="sr-only">Управление паркингами</h1>
		<nav class="header__inner">
			<a class="logo" href="#">
				<div class="logo__img">{% include "/assets/svg/logo.svg" %}</div>
			</a>
			<ul class="header__list">
				<li class="header__item">
					<a class="header__link" href="#">
						Платежи
					</a>
				</li>
				<li class="header__item">
					<a class="header__link" href="#">Оплата квитанций</a>
				</li>
				<li class="header__item">
					<a class="header__link" href="#">Управление подпиской</a>
				</li>
			</ul>

			<div class="header__container">
				<a class="header__back" href="#">Вернуться на сайт</a>
				<a class="header__phone" href="tel:+74951379621">8 (495) 137-96-21</a>
				{% include "blocks/g-select/g-select.twig" %}
			</div>
		</nav>
	</div>

</header>
